
.pagination {
  padding: 20px 0;
  list-style-type: none;
  
}
.pagination-li {
  display: inline;
  padding: 5px;
}
.pagination-li a {
  text-decoration: none;
}
.pagination-li-active {
  text-decoration: underline;
}

