.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  padding: 5px 15px;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .column {
    float: left;
    width: 25%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .column {
    float: left;
    width: 25%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .column {
    float: left;
    width: 33%;
  }
  
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .column {
    float: left;
    width: 33%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .column {
    float: left;
    width: 50%;
  }
  span {
    font-size: 12px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 331px) and (max-width: 480px) {
  .column {
    float: left;
    width: 50%;
  }
  span {
    font-size: 10px;
  }
  
}
@media (min-width: 0px) and (max-width: 330px) {
  .column {
    float: left;
    width: 50%;
  }
  span {
    font-size: 8px;
  }
  
}